/* Created By Ali Behzad */

* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --gap: 10px;
    --color-primary: #1abc9c;
    --const-color: #f8f9fa;
    --nav-color: #2c3e50;
    --border-color: #dc392d;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    display: flex;
    gap: var(--gap);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-content: center;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: var(--nav-color);
    padding: 0.4rem;
    transition: all ease 0.3s;
    z-index: 19;
}

.stiky {
    margin: 0;
    padding: 0.1rem;
    position: fixed;
    transition: all ease 0.3s;
    width: 100%;

}

.brand-name {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--const-color);
    font-weight: 900;
}

.nav {
    display: flex;
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: var(--gap);
}

.nav-item {
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
    transition: all ease 0.2s;
    color: var(--const-color);
    text-decoration: none;
    transition: all ease 0.2s;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-link {
    color: var(--const-color);
    text-decoration: none;
    transition: all ease 0.2s;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-item:hover .nav-link {
    color: var(--color-primary);
}

.nav-item.active {
    background-color: var(--color-primary);
}

.nav-item.active .nav-link {
    color: var(--const-color);
}

.slide {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-primary);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: var(--gap);
    height: auto;
    padding: 1rem;
}

.img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.slide-star {
    color: var(--const-color);
    font-size: 50px;
}

.title {
    text-transform: uppercase;
    font-size: 50px;
    color: var(--const-color);
    font-weight: 600;
    text-align: center;
    padding: 1rem;
}

.clear-fix {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: var(--gap);
    text-align: center;
    padding: 1rem;
}

.clear-fix::before {
    content: '─────────────';
}

.clear-fix::after {
    content: '─────────────';
}

.slide-clear-fix {
    color: var(--const-color);
}

.skills {
    font-size: 25px;
    color: var(--const-color);
    text-align: center;
    padding: 1rem;
}

.portfolio {
    background-color: var(--const-color);
    padding: 5rem 1rem;
    width: 100%;
    height: 100%;
    position: relative;
}

.portfolio-title {
    color: var(--nav-color);
}

.portfolio-clear-fix {
    color: var(--nav-color);
}

.portfolio-star {
    color: var(--nav-color);
    font-size: 50px;
}

.projects {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    transition: all ease 0.3s;
}

.project {
    cursor: pointer;
    width: 25%;
    position: relative;
    transition: all ease 0.3s;
}

.project-img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}

.more {
    display: flex;
    border-radius: 1rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    transition: all ease 0.3s;
}

.plus {
    display: none;
    transition: all ease 0.3s;
    font-size: 7rem;
    color: var(--const-color);
}

.project:hover .more {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: var(--color-primary);
    opacity: 0.9;
    transition: all ease 0.3s;
}

.project:hover .plus {
    display: block;
}

.project>p,
.project>h2 {
    display: none;
}

.modal {
    width: 50%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    z-index: 20;
    top: 0;
    position: fixed;
    animation: modal 0.5s alternate;
}

@keyframes modal {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}


.modal.active {
    display: flex;
}


.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: space-around;
    opacity: 1 !important;
    border-radius: 1rem;
    background-color: var(--nav-color);
    width: 100%;
    height: 70%;
    padding: 20px;
    margin-top: 10%;
    position: absolute;
}

.btn {
    padding: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 50px;
}

.modal-close-icon {
    align-self: flex-end;
    background-color: inherit;
    color: #fff;
    margin: 0;
    padding: 0;
    top: 0;
    transition: all ease 0.3s;
}

.modal-close-icon:hover {
    color: var(--border-color);
}

i {
    margin-right: 5px;
}

.modal-close-btn {
    font-size: 20px;
    background-color: var(--color-primary);
    color: var(--const-color);
    text-align: center;
    transition: all ease 0.3s;
}

.modal-close-btn:hover {
    opacity: 0.8;
}

.modal-header {
    color: var(--const-color);
    margin: 0;
    padding: 0;
    text-align: center;
    gap: 0;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding: 0;
    margin: 0;
    text-align: center;
}

.modal-body>p {
    color: var(--const-color);
    max-width: 50%;
    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}

.modal-img {
    border-radius: 1rem;
    width: 50%;
    height: 80%;
}

#modalTitle {
    text-transform: uppercase;
}

.about {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    gap: var(--gap);
    padding: 5rem 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    width: 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.about-text {
    max-width: 100%;
    overflow: auto;
    text-align: left;
    text-overflow: ellipsis;
    color: var(--const-color);
}

.download-btn {
    font-size: 1.2rem;
    background-color: inherit;
    color: var(--const-color);
    border: 1px solid var(--const-color);
    margin-top: 2.5rem;
    transition: all ease 0.3s;
    outline: none;
    border-radius: 0.5rem;
}

.download-btn:hover {
    background-color: var(--const-color);
    color: var(--nav-color);
}

.contact {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 5rem 1rem;
}

.form-div {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 50%;

}

input {
    padding: 20px 0;
    outline: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--nav-color);
    font-size: 20px;
}

.form-item {
    width: 100%;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    border: none;
    border-bottom: 1px solid var(--nav-color);
    outline: none;
    min-height: 100px;
    font-size: 20px;
    padding: 15px 0;
}

.submit-btn {
    width: 25%;
    font-size: 20px;
    background-color: var(--color-primary);
    color: var(--const-color);
    border-radius: 0.5rem;
    margin-top: 10px;
}

.submit-btn:hover {
    opacity: 0.9;
}

.form-item {
    display: flex;
    flex-direction: column;
    position: relative;
}

.label {
    position: absolute;
    font-size: 20px;
    top: 15px;

}

.label.active {
    animation: label ease 0.5s;
    font-size: 15px;
    top: 0;
}

@keyframes label {
    0% {
        top: 20px;
        font-size: 20px;
    }

    50% {
        top: 0;
        font-size: 15px;
    }
}

.footer {
    background-color: var(--nav-color);
    display: flex;
    width: 100%;
    justify-content: space-around;
    justify-items: center;
    align-items: flex-start;
    align-content: center;
    gap: var(--gap);
    padding: 5rem 0;
    flex-wrap: wrap;
}

.location-title {
    font-size: 25px;
}

.loaction-content {
    font-size: 20px;
    color: var(--const-color);
}


.socail-nav-item {
    border: 1px solid var(--const-color);
    border-radius: 50%;
    text-align: center;
}

.socail-nav-item>a {
    text-align: center;
}

.socail-nav-item>a>i {
    font-size: 30px;
    color: var(--const-color);
    width: 100%;
}

.socail-nav-item:hover {
    background-color: var(--const-color);
}


.socail-nav-item:hover>a>i {
    color: rgb(0, 0, 0);
}

.about-title {
    font-size: 25px;
}

.about-content {
    color: var(--const-color);
    overflow: auto;
}

.about-content>a {
    text-decoration: underline;
    color: var(--color-primary);
}

.copy-right {
    background-color: #131b24;
    width: 100%;
    text-align: center;
}

.copy-text {
    color: var(--const-color);
    font-size: 15px;
}

.clear {
    clear: both;
}

.navbar-sm {
    display: none;
    background-color: var(--nav-color);
    justify-content: space-between;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: space-between;
    z-index: 19;
    padding: 0.6rem;
    text-overflow: ellipsis;
    text-align: center;
}

.navbar-menu,
.menu-btn {
    display: none;

}

.menu-btn {
    font-size: 12px;
    padding: 0.8rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--const-color);
}

.nav-menu {
    display: none;
}


/* Responsive */

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }

    .navbar-sm {
        display: flex;
        width: 100%;
        align-content: center;
        align-items: baseline;
    }

    .stiky {
        justify-content: space-around;
        justify-items: center;
        width: 100%;
        padding: 1rem;
    }

    .navbar-sm.active {
        animation: navbarSm ease 1s;
        height: 300px;
    }

    @keyframes navbarSm {
        0% {
            height: 100px;
        }

        100% {
            height: 300px;
            top: 0;
        }
    }

    .brand-name {
        font-size: 20px;
    }

    .navbar-menu,
    .menu-btn {
        display: inline;
    }

    .nav-menu-list {
        animation: nav-menu ease 2.5s;
    }

    @keyframes nav-menu {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
            ;
        }
    }

    .nav-menu.active {
        flex-direction: column;
        display: flex;

    }


    .nav-list {
        flex-direction: column;
    }

    .slide {
        flex-direction: column;
    }

    .portfolio {
        flex-direction: column;
        width: 100%;
    }

    .projects {
        flex-direction: column;
        width: 100%;
    }

    .project {
        width: 100%;
    }

    .modal {
        padding: 0;
        height: 50%;
        width: 90%;
        gap: 0;
        margin: 0;
    }

    .modal-content {
        gap: 0;
        padding: 0 10px;
        margin: 0;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        align-content: space-around;
        height: 600px;
        top: 5rem;
    }

    #modalContent {
        overflow: visible;
    }

    .about {
        flex-direction: column;
    }

    .row {
        flex-direction: column;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;
    }

    .contact {
        flex-direction: column;
        width: 100%;
    }

    .title {
        font-size: 30px;
    }

    .clear-fix {
        font-size: 10px;
    }

    .form {
        flex-direction: column;
        width: 100%;
    }

    .submit-btn {
        width: 100%;
    }

    .footer {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }

    .social-nav {
        flex-direction: column;
    }

    .nav-list {
        flex-direction: column;
    }

    .socail-nav-item {
        border-radius: 0;
    }

    .site-about,
    .location,
    .social {
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        text-align: center;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 800px) {
    .project {
        width: 35%;
    }
    .modal {
        width: 90%;
    }
    .about {
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    .row {
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    .contact {
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    .form-div {
        align-items: flex-start;
    }

    .form {
        width: 100%;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-width: 900px) {
    .project {
        width: 25%;
    }

    .about {
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    .row {
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    .contact {
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    .form-div {
        width: 50%;
    }

    .form {
        width: 100%;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        text-align: center;
    }
}