* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

:root {
    --gap: 10px;
    --color-primary: #1abc9c;
    --const-color: #f8f9fa;
    --nav-color: #2c3e50;
    --border-color: #dc392d;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    display: flex;
    gap: var(--gap);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-content: center;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: var(--nav-color);
    padding: 0.4rem;
    position: fixed;
}

.brand-name {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--const-color);
    font-weight: 900;
}

.nav {
    display: flex;
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: var(--gap);
}

.nav-item {
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
    transition: all ease 0.2s;
    cursor: pointer;
}

.nav-link {
    color: var(--const-color);
    text-decoration: none;
    transition: all ease 0.2s;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-item:hover .nav-link {
    color: var(--color-primary);
}

.nav-item.active {
    background-color: var(--color-primary);
}

.nav-item.active .nav-link {
    color: var(--const-color);
}

.slide {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-primary);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 43rem;
    gap: var(--gap);
}

.img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.slide-star {
    color: var(--const-color);
    font-size: 50px;
}

.title {
    text-transform: uppercase;
    font-size: 50px;
    color: var(--const-color);
    font-weight: 600;
    text-align: center;
    padding: 1rem;
}

.clear-fix {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: var(--gap);
    text-align: center;
    padding: 1rem;
}

.clear-fix::before {
    content: '─────────────';
}

.clear-fix::after {
    content: '─────────────';
}

.slide-clear-fix {
    color: var(--const-color);
}

.skills {
    font-size: 25px;
    color: var(--const-color);
    text-align: center;
    padding: 1rem;
}

.portfolio {
    background-color: var(--const-color);
    padding: 5rem;
    width: 100%;
    height: 100%;
    position: relative;
}

.portfolio-title {
    color: var(--nav-color);
}

.portfolio-clear-fix {
    color: var(--nav-color);
}

.portfolio-star {
    color: var(--nav-color);
    font-size: 50px;
}

.projects {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    transition: all ease 0.3s;
}

.project {
    cursor: pointer;
    width: 25%;
    position: relative;
    transition: all ease 0.3s;
}

.project-img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}

.more {
    display: flex;
    border-radius: 1rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    transition: all ease 0.3s;
}

.plus {
    display: none;
    transition: all ease 0.3s;
    font-size: 7rem;
    color: var(--const-color);
}

.project:hover .more {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: var(--color-primary);
    opacity: 0.9;
    transition: all ease 0.3s;
}

.project:hover .plus {
    display: block;
}

.project > p, .project > h2 {
    display: none;
}

.modal {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    z-index: 20;
    position: absolute;
    animation: modal 0.5s alternate;
}

@keyframes modal {
    0% {transform: translateY(-100px); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
    
}


.modal.active {
    display: flex;
}


.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: space-around;
    opacity: 1 !important;
    border-radius: 1rem;
    background-color: var(--nav-color);
    width: 80%;
    height: 90%;
    padding: 20px;
    margin: 0;
}

.btn {
    padding: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 50px;
}
.modal-close-icon {
    align-self: flex-end;
    background-color: inherit;
    color: #fff;
    margin: 0;
    padding: 0;
    top: 0;
    transition: all ease 0.3s;
}

.modal-close-icon:hover {
    color: var(--border-color);
}

i {
    margin-right: 5px;
}
.modal-close-btn {
    font-size: 20px;
    background-color: var(--color-primary);
    color: var(--const-color);
    text-align: center;
    transition: all ease 0.3s;
}

.modal-close-btn:hover {
    opacity: 0.8;
}

.modal-header {
    color: var(--const-color);
    margin: 0;
    padding: 0;
    text-align: center;
    gap: 0;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding: 0;
    margin: 0;
    text-align: center;
}

.modal-body > p {
    color: var(--const-color);
    max-width: 50%;
    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}

.modal-img {
    border-radius: 1rem;
    width: 50%;
    height: 80%;
}

#modalTitle {
    text-transform: uppercase;
}